@model PlanYourDegree.Models.Degree

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Degree</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.DegreeAbbrive) </dt>
        <dd>@Html.DisplayFor(model => model.DegreeAbbrive) </dd>
        <dt>@Html.DisplayNameFor(model => model.DegreeName) </dt>
        <dd>@Html.DisplayFor(model => model.DegreeName)</dd>
        <dt>@Html.DisplayNameFor(model => model.DegreeReqs)  </dt>
        <dd>
            <table class="table">
                <tr>
                    <th>Number</th>
                    <th>Course ID</th>
                    <th>Course Name</th>
                </tr>
                @foreach (var item in Model.DegreeReqs.OrderBy(r => r.RequirementNumber))
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.RequirementNumber) </td>
                        <td>@Html.DisplayFor(modelItem => item.CourseId) </td>
                        <td>@Html.DisplayFor(modelItem => item.CourseName)   </td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DegreeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
