@model IEnumerable<PlanYourDegree.Models.DegreeReq>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by DegreeReqId, DegreeId or CourseId: <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DegreeReqIdParm"]"> @Html.DisplayNameFor(model => model.DegreeReqId)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DegreeIdParm"]"> @Html.DisplayNameFor(model => model.DegreeId)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["CourseIdParm"]">@Html.DisplayNameFor(model => model.CourseId)</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DegreeReqId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DegreeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DegreeReqId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DegreeReqId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DegreeReqId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
